[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Pp]ackageCache/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
/Library/
/Logs/
/UserSettings/
/Packages/
